extends ../shared/template
block content
  #controls
    #visibility
      button.myButton#hide Hide Form
      button.myButton#show Show Form
    form(method='post', action='/recipes')
      input(name='name', type='text', placeholder='chicken', autofocus=true)
      input(name='photo', type='text', placeholder='image URL')
      input(name='ingredients', type='text', placeholder='chicken, water, eggs')
      textarea(name='directions')
      button.myAddButton Add Recipe!
  
  #recipes
    each recipe in recipes
      include recipe

block scripts

