.myButton {
  background-color:#599bb3;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:28px;
  border:1px solid #29668f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
}
.myButton:hover {
  background-color:#408c99;
}
.myButton:active {
  position:relative;
}

.myAddButton {
  -moz-box-shadow: 0px 0px 0px 0px #276873;
  -webkit-box-shadow: 0px 0px 0px 0px #276873;
  box-shadow: 0px 0px 0px 0px #276873;
  background-color:transparent;
  -moz-border-radius:35px;
  -webkit-border-radius:35px;
  border-radius:35px;
  border:3px solid #d5db1f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.myAddButton:hover {
  background-color:transparent;
}
.myAddButton:active {
  position:relative;
  top:1px;
}


.delete {
  background-color:#afbf37;
  -moz-border-radius:14px;
  -webkit-border-radius:14px;
  border-radius:14px;
  border:1px solid #29668f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:10px;
  font-weight:bold;
  padding:5px 14px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.delete:hover {
  background-color:#408c99;
}
.delete:active {
  position:relative;
  top:1px;
}


