@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Lobster);


*{
  font-family: 'Arimo', sans-serif;
  font-size: 13px;
  margin: 5px;
  padding: 1px;
}

body{
  background-color: #637c96;
}

header{
  margin: 20px;
}

header h1{
  font-family: 'Lobster', cursive;
  font-size: 105px;
  color: #408c99;
  text-align: center;
  -webkit-text-stroke: 2px #e1e001 ;
}



.recipe{
  display: inline-block;
  vertical-align: top;
  width: 250px;
  border: 1px solid #111111;
  border-radius: 5px;
  margin: 20px;
  background-color: #ccdde1;
}

.recipe .photo{
  height: 300px;
  background-size: cover;
  border-bottom: 1px solid #111111;
  margin-bottom: 10px;
}

.recipe .photo button{
  position: absolute;
  top: 10px;
  right: 10px;
}

.recipe .name{
  font-size: 20px;
  color: #001F3F;
  padding: 5px;
}

.recipe .directions, .recipe .ingredients{
  padding: 5px;
}

.recipe .ingredients li{
  position: relative;
  left: 20px;
}

#controls{
  position: relative;
  left: 475px;
}

form input, form button, form textarea{
  width: 300px;
  display: block;
}

#categories{
  margin-left: 20px;
}

#categories li{
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
